*{
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 840px;
}

.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}

nav ul, .menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul{
    display: flex;
    align-items: center;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color:#727272;
}

nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: #ffffff;
}

#banner{
    display: flex;
    justify-content: center;
    height: 670px;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-position: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.banner-headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h1{
    max-width: 350px;
    color: #ffffff;
    font-size: 50px;
    text-shadow: 0px 1px 0 #555555;
    margin: 0;
    padding: 0;
}

.banner-headline h2{
    max-width: 350px;
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0 #555555; 
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.banner-options{
    height: 210px;  
    display: flex;
}

.banner-1, .banner-2, .banner-3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner-1{
    background-color: #39aae1;
}

.banner-2{
    background-color: #0079c7;
}

.banner-3{
    background-color: #2b4c99;
}

.banner_title{
    font-size: 21px;

}

.banner_desc{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px; /* Limita a largura para não ficar muito largo */
}

.banner-options a{
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.day1, .day2, .day3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
 
}

#geral aside{
    flex: 1;
  
}

.widget-title{
    margin-top: 20px;
    margin-bottom: 5px;
}

.widget-title-text{
    font-size: 21px;
    color: #000000;
    font-weight: bold;
}

.widget-title-bar{
    background-color: #39aae1;
    width: 50px;
    height: 3px;
    margin-top: 10px;
}

.deparments-grid{
    display: flex;
    flex-flow: row wrap;
}           

.deparment-box{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: #39aae1;
}

.appointment-box{
    font-size: 13px;
    margin: 10px 0;
}

.appointment-box a{
    text-decoration: underline;
    color: #39aae1;
}

.appointment-box i {
    color: #999; /* Cinza claro */
    font-size: 14px; /* Tamanho pequeno */
    width: 16px; /* Largura fixa para alinhar */
    text-align: center;
    flex-shrink: 0; /* Não encolhe o ícone */
}

.appointment-line{
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flexcolumn{
    flex-direction: column;
}

article{
    flex: 1;
    min-width: 250px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}


article .news_data{
    display: flex;
}

article .news_posted_at{
    font-size: 12px;
    background-color: #143fa1;
    color: #ffffff;
    padding: 10px;
}

article .news_comments{
    font-size: 12px;
    background-color: #39aae1;
    color: #ffffff;
    padding: 10px;
    margin-left: 2px;
}

article .news_tumbnail{
    margin-top: 30px;
}

article .news_tumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    font-size: 22px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
}

article .news_title p{
    font-size: 14px;
    line-height: 20px;
    color: #525252;
    overflow-wrap: break-word;
}

footer{
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
}

.footer-menu{
    display: flex;
}

.footer-menu a{
    text-decoration: none;
    display: block;
    color:#ffffff;
    font-size: 12px;
    padding: 20px;
}


footer .fm_1, footer .fm_2, footer .fm_3{
    flex: 1;
    color: #ffffff;
}

footer .fm_1{
    background-color: #39aae1;
}

footer .fm_2{
    background-color: #0079c7;
}

footer .fm_3{
    background-color: #2b4c99;
}


.footer-area{
    display: flex;
}

.fa_itens{
    flex: 1;
    color: #ffffff;
}

.footer-box{
    color: #ffffff;
}

.fa_itens .widget-title-text{
    color: #ffffff;
}

.footer-copyright{
    color: #5c5c5c;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #2c2c2c;
    margin-top: 30px;
    padding: 10px;
}

.footer-copyright strong{
    color: #ffffff
}

.fa_i1 {
    display: flex;
    color: #858585;
    font-size: 12px;
    padding-right: 5px;
}

.flex_dados{
    display: flex;
    justify-content:space-between;
    padding: 10px 0;
}

.widget-description p{
    text-align: left;
}

.flex-contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.widget-contact strong{
    color: #e0d0d0;
}

.widget-social a{
    text-decoration: none;
    color: #8a8a8a;
    margin-right: 10px;
}

.flex_dados p{
   margin: 0 0 2px 0;
   line-height: 1.2;
}

.fa_i2 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 12px;
}

.fa_i2 div{
    margin-top: 20px;
    padding-left: 3px;
}

.fa_i2 p{
    color: #39aae1;
    margin: 0;
    margin-top: 2px;
}

.fa_i2 a{
    text-decoration: none;
    color: #ffffff;
}

.fa_i3 {
    display: flex;
    flex-direction: column;
    color: #858585;
    font-size: 12px;
}

.fa_i3 div{
    margin-top: 20px;
    padding-left: 3px;
}

.fa_i3 p{
    color: #39aae1;
    margin: 0;
    margin-top: 2px;
}

.fa_i3 a{
    text-decoration: none;
    color: #ffffff;
}
